<app-header></app-header>

<div class="mainContainer">
    <h3 class="mx-1 my-3 fw-bold">DISEASES</h3>
    <div class="customCard">
        <table class="table" *ngIf="diseaseData" datatable>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Disease Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dataItem of diseaseData">
                    <td>{{dataItem.id}}</td>
                    <td>{{dataItem.name}}</td>
                    <td>
                        <button (click)="onEdit(dataItem)" class="btn btn-primary" type="button"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
                        <button (click)="diseaseDetails(dataItem.id)" class="btn btn-success mx-3">Details</button>
                        <button (click)="onDiseaseDelete(dataItem.id, dataItem.name)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex">
            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="clickAddDisease()">Add Disease</button>
        </div>
        <!-- LOADING SPINNER -->
        <div *ngIf="isLoading" class="d-flex justify-content-center">
            <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem; margin-right: 3px;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>

<!-- Disease Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Disease Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">
                    <div class="mb-3">
                        <label for="diseaseName" class="form-label">Disease Name</label>
                        <input type="text" class="form-control" formControlName="diseaseName" id="diseaseName"
                            aria-describedby="diseaseName">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" *ngIf="showUpdate" class="btn btn-primary" (click)="updateDiseaseDetails()">
                    Update
                    Disease</button>
                <button type="button" class="btn btn-primary" *ngIf="showAdd" (click)="postDiseaseDetails()"> Add
                    Disease</button>
                <button type="button" class="btn btn-secondary" id="cancel" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>